# CI configuration that runs the benchmark on the small data set included in the repository
version: 2.1
orbs:
  slack: circleci/slack@3.4.2
workflows:
  version: 2
  build:
    jobs:
      - build

jobs:
  build:
    machine:
      image: ubuntu-2204:2022.04.2

    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            export DEBIAN_FRONTEND=noninteractive
            export NEEDRESTART_SUSPEND=a
            sudo apt update
            python3 -m pip install --upgrade pip
            scripts/install-dependencies.sh
      - run:
          name: Load Umbra Docker image
          command: |
            # ${UMBRA_URL_PREFIX} should be set as a sercet variable in the CI configuration
            umb/docker-load.sh
      - run:
          name: Preprocess data
          command: |
            scripts/preprocess.sh
            scripts/convert-to-ntriples.sh
      - run:
          name: Test Neo4j
          command: |
            cd neo
            ./init-and-load.sh; ./run.sh; ./stop.sh
            cd ..
      - run:
          name: Test Memgraph
          command: |
            cd mem
            ./convert-csvs.sh
            ./init-and-load.sh; ./run.sh; ./stop.sh
            cd ..
      - run:
          name: Test DuckDB
          command: |
            cd ddb
            ./init-and-load.sh; ./run.sh; ./stop.sh
            cd ..
      - run:
          name: Test PostgreSQL
          command: |
            cd pos
            ./init-and-load.sh; ./run.sh; ./stop.sh
            cd ..
      - run:
          name: Test RedisGraph
          command: |
            export PATH="~/.local/bin:$PATH"
            cd red
            ./init-and-load.sh; ./run.sh; ./stop.sh
            cd ..
      - run:
          name: Test Virtuoso
          command: |
            cd vos
            ./init-and-load.sh; ./run.sh; ./stop.sh
            cd ..
      - run:
          name: Test Umbra
          command: |
            cd umb
            ./init-and-load.sh; ./run.sh; ./stop.sh
            cd ..
      - run:
          name: Test Trovares xGT
          command: |
            cd xgt
            ./init-and-load.sh; ./run.sh; ./stop.sh
            cd ..
      - run:
          name: Test RapidMatch conversion script
          command: |
            rdm/get.sh
            ddb/load.sh; rdm/convert.sh
            cd rdm
            ./init-and-load.sh; ./run.sh; ./stop.sh
            cd ..
      - slack/status
